.Deshbordsection3 {
  height: auto;
  padding-right: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  .Deshbordsection3div {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }
}
