.snav {
  position: relative;
  width: 99%;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 20px #e2e3e3;
  border-radius: 5px;
  padding: 5px 50px;
  .navbtndiv {
    position: relative;
    display: flex;
    .btnstyle {
      height: auto;
      display: flex;
      justify-content: center;
      background: #727cf9;
      border-radius: 4px;
      margin: 0 5px;
    }
    .inputstyle {
      width: 200px;
    }
  }
}
