.Dashbordsection1 {
  position: relative;
  padding: 20px 0;
  display: flex;
  width: 100%;
  .Ditem {
    position: relative;
    height: 120px;
    width: 300px;
    box-shadow: 2px 2px 20px #e2e3e3;
    border-radius: 5px;
    padding: 2px;
    //border-left: 3px solid rgba(85, 125, 209, 0.993);
    margin: 0 10px;
    //background: linear-gradient(70deg, #043575d8, rgba(32, 194, 206, 0.781), #4bddca);
    //background: #c7d4f7;

    .Ditemall {
      position: relative;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Ditemallleft {
        .Ditemalllefthedar {
          font-family: sans-serif, Courier,
            monospace;
          color: #fff;

        }
        .Ditemalllefttext {
          font-family: monospace, Helvetica, sans-serif;
          color: #fff;
        }
      }
      .Ditemallright {
        i {
          //width: 70px;
          //height: 70px;
          font-size: 4rem;
          transform: rotate(-40deg);
          filter: blur(2.5px);
          box-shadow: 0px 0px 50px #c7d4f7;
          color: #42568d;
          background: #c7d4f7;
        }
      }
      .chart1 {
        position: absolute;
        left: 0;
        bottom: -20px;
      }
    }
    
  }
}
.Ditem1 {
  background: #2E8DE3;
}
.Ditem2 {
  background: #22beee;
}
.Ditem3 {
  background: #F79C0D;
}
.Ditem4 {
  background: #DC3F3F;
  //background: #c93a3ab4;
}
